@font-face {
  font-family: Segoe;
  src: url(../fonts/SegoeWP.ttf); }
@font-face {
  font-family: SegoeSemilight;
  src: url(../fonts/SegoeWP-Semilight.ttf); }
@font-face {
  font-family: SegoeLight;
  src: url(../fonts/SegoeWP-Light.ttf); }
@font-face {
  font-family: SegoeSemibold;
  src: url(../fonts/SegoeWP-Semibold.ttf); }
@font-face {
  font-family: SegoeBold;
  src: url(../fonts/SegoeWP-Bold.ttf); }
body {
  margin: 0;
  font-family: SegoeLight;
  font-size: 22px;
  color: #7e7c7c; }

a {
  text-decoration: none;
  color: inherit; }
  a:hover {
    color: inherit; }
  a:focus {
    outline: none;
    color: inherit; }

p {
  margin: 0; }

.container {
  width: 1024px;
  margin: 0 auto; }

.clearfix:after {
  content: '';
  display: table;
  clear: both; }

.header {
  padding: 20px 25px 15px 25px; }

.logo {
  font-family: SegoeSemilight;
  font-size: 30px;
  line-height: 1;
  color: #8d8d8d; }
  .logo span {
    font-family: SegoeSemibold;
    color: #1298dd; }

.navigation {
  font-family: SegoeSemilight;
  color: #676767;
  list-style: none;
  float: right;
  padding-left: 0;
  margin: 0; }
  .navigation li {
    display: inline-block; }
    .navigation li a {
      display: block;
      width: 100%;
      height: 33px;
      line-height: 33px;
      font-size: 16px;
      text-align: center;
      padding: 0 10px;
      border: 1px solid transparent;
      margin-left: 25px; }
      .navigation li a:hover {
        background: #1f84e7;
        background: linear-gradient(to bottom, #37b3f8 0%, #1f84e7 100%);
        border-color: #1784d1;
        border-radius: 3px;
        box-shadow: 0px 1px 0px 0px rgba(136, 211, 251, 0.75) inset;
        color: #fff; }

.banner {
  background: url(../images/banner-bg.jpg) 50% 0 no-repeat;
  background-size: cover;
  height: 535px;
  width: 100%;
  display: table;
  box-shadow: 0px 4px 5px -4px rgba(0, 0, 0, 0.5) inset; }
  .banner .container {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
  .banner p {
    font-family: SegoeSemilight;
    font-size: 48px;
    color: #fff;
    text-transform: uppercase; }

p.title {
  font-family: SegoeSemibold;
  font-size: 52px; }

.ask-btn {
  margin-top: 25px;
  width: 275px;
  height: 58px;
  font-family: SegoeBold;
  font-size: 34px;
  color: #fff;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 0px 6px rgba(0, 0, 0, 0.12), 0px 1px 0px 0px rgba(112, 243, 84, 0.75) inset;
  background: #6ed258;
  background: linear-gradient(to bottom, #6ed258 0%, #34ae22 100%); }

.ask-btn {
  cursor: pointer; }

.content {
  background-color: #ececec;
  padding-bottom: 70px; }

.photo-box {
  background-color: #fff; }

.large {
  font-size: 26px; }

.text {
  text-align: center;
  padding-top: 60px; }

.services {
  margin-top: 45px;
  text-align: center; }

.serv-item {
  display: inline-block;
  margin-right: 70px; }
  .serv-item:last-child {
    margin-right: 0; }
  .serv-item p {
    margin-top: 15px; }

.serv-item_img {
  width: 133px;
  height: 133px;
  border-radius: 50%;
  background-color: #fff;
  display: table-cell;
  vertical-align: middle;
  text-align: center; }

.footer {
  hiight: 32px;
  line-height: 32px;
  background-color: #414141;
  font-size: 14px;
  color: #fff;
  text-align: center; }

/*# sourceMappingURL=styles.css.map */
